# ============================================================================
# GO
# ============================================================================

# Directories
bin/*
!bin/.gitkeep
!bin/linux/
bin/linux/*
!bin/linux/.gitkeep

# Files
tatuscan-web
coverage.out
coverage.html
go.work
